body {
  background-color: rgb(149, 149, 149);
  font: 400 1em/1.38 Helvetica;
  color: rgba(0, 0, 0, 0.51);
}

.audi {
  display: block;
  float: left;
  width: 72.2543352601%;
  height: 37px;
  margin: 26px 0 0 13.80454%;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(149, 149, 149);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgba(0, 0, 0, 0.51);
}

}

.entername {
  display: block;
  float: left;
  width: 4.4368600682%;
  height: 22px;
  margin: 18px 0 0 0.67193%;
  border-radius: 3px;
  background-color: rgb(149, 149, 149);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.mainwind {
  position: relative;
  float: left;
  z-index: 3;
  width: 78%;
  height: 918px;
  margin: 23px 0 0 1.9987%;
  padding: 2px;
  border-radius: 15px;
  background-color: rgb(108, 108, 108);
}

.mainwind .embed-wrapper {
  width: 96.8884120171%;
  height: 858px;
  margin: 15px auto 0;
}
.tems {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 17.6666666666%;
  height: 918px;
  margin: 23px 0 0 1.16667%;
  border-radius: 15px;
  background-color: rgb(108, 108, 108);
}


.topic {
  position: relative;
  float: left;
  width: 97.6666666666%;
  height: 157px;
  margin: 16px 0 0 1.16146%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.51);
}

.topic .embed-wrapper {
  position: absolute;
  top: 20px;
  left: 2.1384385665%;
  z-index: 5;
  width: 16.9795221843%;
  height: 70px;
}

.volvo {
  display: block;
  float: left;
  clear: both;
  width: 72.2543352601%;
  height: 37px;
  margin: 14px 0 0 14.07724%;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.51);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.volkswagen{
display: block;
  float: left;
  clear: both;
  width: 72.2543352601%;
  height: 37px;
  margin: 14px 0 0 14.07724%;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(149, 149, 149);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgba(0, 0, 0, 0.51);
}

._button {
  display: block;
  float: left;
  width: 21.3310580204%;
  height: 79px;
  margin: 38px 0 0 39.34514%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 3.125em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.message{
  width:1435px;
}